<header class="flex flex-row justify-between items-center pl-[65px] pr-9 py-5 bg-sprottyMidBlue bg-opacity-50">
    <a href="/#">
        <img src="/assets/sprotty-logo-fish-text.png">
    </a>
    <nav class="flex flex-row items-end gap-5">
        <a href="/docs/" class="text-sprottyDarkBlue font-redHat font-medium text-lg">Documentation</a>
        <a href="https://github.com/eclipse-sprotty/sprotty" target="_blank" class="w-[43px] h-[43px]">
            <img src="/assets/github-mark.svg" alt="github repository">
        </a>
    </nav>
</header>