<header class="sticky top-0 z-50 flex flex-row justify-between items-center p-4 bg-white">
    <a href="/#">
        <img src="/assets/sprotty-logo-500px.png" class="h-12 w-auto">
    </a>
    <nav class="flex flex-row items-center gap-4">
        <a href="/docs/" class="text-sprottyBlue">Documentation</a>
        <a href="" class="text-sprottyBlue">Showcase</a>
        <a href="https://github.com/eclipse-sprotty/sprotty" target="_blank" class="w-10 h-10">
            <img src="/assets/github-mark.svg" alt="github repository">
        </a>
    </nav>
</header>