<title>{{ .Title }}</title>
<meta name="viewport" content="width=device-width">
<meta charset="utf-8">
<meta name="description" content="Diagram Vizualization Tools for Your Web Applications.
Eclipse Sprotty is an open-source project enabling the creation of powerful diagramming tools and graphical visualizations.">
<meta property="og:title" content="Diagram Vizualization Tools for Your Web Applications">
<meta property="og:description" content="Eclipse Sprotty is an open-source project enabling the creation of powerful diagramming tools and graphical visualizations.">
<meta property="og:image" content="https://sprotty.org/assets/sprotty-logo-fish-text.png">
<meta property="og:type" content="website">
<meta property="og:url" content="https://sprotty.org/">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Diagram Vizualization Tools for Your Web Applications">
<meta name="twitter:description" content="Eclipse Sprotty is an open-source project enabling the creation of powerful diagramming tools and graphical visualizations.">
<meta name="twitter:image" content="https://sprotty.org/assets/sprotty-logo-fish-text.png">
<link rel="apple-touch-icon" href="/favicon/512px.png">
<link rel="icon" type="image/png" href="/favicon/512px.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/32px.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/16px.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Red+Hat+Display:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/landing-showcase.css">
<link rel="stylesheet" href="/showcase/bundle.css">
<script src="/showcase/bundle.js" type="text/javascript"></script>