node_modules
public
.idea/
.nyc_output/
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
dist/

#static-dev files
static-dev/bundle.*
static-dev/language-server.js
static-dev/language-server.js.map
static-dev/monaco-workers
static-dev/elk-workers
static-dev/*.ttf